section {
  display: block;
}
.parceria {
  padding-top: 60px;
  padding-bottom: 120px;
}
.parceria h2 {
  margin-bottom: 60px;
}
.parceria ul {
  padding: 0 20px;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.parceria li {
  display: flex;
  padding: 32px;
  border-left: 2px solid var(--c2);
}
.parceria img {
  margin: auto;
}
.parceria li:first-child/* remover o perimeiro da lista*/, .parceria li:nth-child(5) {
  border-left: none;
}
.parceria li:nth-child(n + 5) {
  border-top: 2px solid var(--c2);
}
@media (max-width: 800px) {
  .parceria {
    padding-bottom: 60px;
  }
  .parceria h2 {
    margin-bottom: 20px;
  }
  .parceria ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceria li {
    display: flex;
    padding: 20px;
  }
  .parceria li:nth-child(odd) {
    border-left: none;
  }
  .parceria li:nth-child(n + 3) {
    border-top: 2px solid var(--c2);
  }
}
